.test
{
    position: absolute;
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    background:white
}
.text {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 50px;
  margin: 0 auto;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
