.container {
  margin-top: 30px;
  background:white;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.wade{
  height: 500px;
  width: 500px;
  background-image: url("src/app/images/IMG_2184.jpg");
}
