<div class="container contact-form" *ngIf="!showThankyou">
  <div class="row mb-3 justify-content-center text-center">
    <h1 class="heading2 ">
      You are warmly invited to the wedding of
    </h1>
  </div>
  <div class="row mb-3 justify-content-center">
    <h1 class="heading1 ">
      Tiffany & Andrew
    </h1>
  </div>
  <div class="row mb-3 justify-content-center">
    <h1 class="heading2">
      04/07/2019
    </h1>
  </div>
  <div class="row mb-3 justify-content-center">
    <h1 class="heading2">
      RSVP
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" class="justify-content-center" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control"
            placeholder="Enter First Name">
          <span *ngIf="!signupForm.get('firstName').valid && signupForm.get('firstName').touched"
            class="help-block text-danger text-bold">
            <span *ngIf="signupForm.get('firstName').errors['required']">This field is required!</span>
          </span>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="email" formControlName="lastName" class="form-control" placeholder="Enter Last Name">
          <span *ngIf="!signupForm.get('lastName').valid && signupForm.get('lastName').touched"
            class="help-block text-danger text-bold">
            <span *ngIf="signupForm.get('lastName').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="foodOption">Food Choice</label>
        <div class="form-check mt-2">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input w-auto" id="radio2" formControlName="foodOption"
              value="steak">Beef Tenderloin
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input w-auto" value="lobster" formControlName="foodOption">Lobster
            Arancini
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input w-auto" value="mac" formControlName="foodOption">Mac & Cheese
            (vegetarian)
          </label>
        </div>


        <!-- <div class="form-group mt-5"
          *ngIf="signupForm.get('lastName').value.trim().toLowerCase() === 'cyrus' && signupForm.get('firstName').value.trim().toLowerCase() === 'miley'">
          <label for="lastName">Hey Miley Check the box babe</label>
          <input type="checkbox" (click)="showWade = true" class="form-control">
        </div> -->

        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block text-danger text-bold">Please enter
          valid data!</span>

        <input type="submit" [disabled]="signupForm.invalid" name="" value="Register">

      </form>
    </div>
  </div>
</div>

<div class="container contact-form" *ngIf="showThankyou">
  <div class="row mb-3 justify-content-center text-center">
    <h1 class="heading2 ">
      Thank for registering for our wedding
    </h1>
  </div>
  <div class="row mb-3 justify-content-center">
    <h1 class="heading1">
      We look forward to celebrating our wedding with you
    </h1>
  </div>
  <div class="row mb-3 justify-content-start">
    <img id="map" width="32px" src="/assets/map40.png" />
    <a class="font-normal pl-2" style="line-height: 15px;" href="https://goo.gl/maps/zLscGsTtMFwsdu7j6" target="_blank">
      Directions<br />
      <span style="font-size: 12px; font-weight: 100;">Latitude: 42.137165 Logitude: -82.672685</span>
    </a>
  </div>
  <div class="row mb-3 justify-content-start">
    <img id="map" width="32px" src="/assets/phone.png" />
    <a class="font-normal pl-2" href="tel:519-694-3245">Call or text</a>
  </div>
  <div class="row mb-3 justify-content-center" *ngIf="showMap">
    <p>
      When using GPS, please use latitude and longitude posted above or use the embedded map below
    </p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d784.9185062657422!2d-82.67323351187015!3d42.137165993177724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDLCsDA4JzEzLjgiTiA4MsKwNDAnMjEuNyJX!5e1!3m2!1sen!2sca!4v1578255408036!5m2!1sen!2sca"
      width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>
